<!-- page content -->
<div class="right_col" id="pagecode_<%=page_Code%>" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Projects
          <small>Listing design</small>
        </h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Projects</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a>
                  <i class="fa fa-wrench"></i>
                </a>
              </li>
              <li class="dropdown">
                <a href="/colleges/add" role="button">
                  <i class="fa fa-plus"></i>
                </a>
              </li>
              <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
              <li>
                <a href="/dashboard">
                  <i class="fa fa-close"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <p>Simple table with project listing with progress and editing options</p>

            <!-- start project list -->
            <table class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 5%">Logo</th>
                  <th style="width: 20%">Project Name</th>
                  <th>Team Members</th>
                  <th>Network</th>
                  <th>Status</th>
                  <th style="width: 11%">#Edit</th>
                </tr>
              </thead>
              <tbody id="collegeTableBody">
                <tr id="dummyrow">
                  <td colspan="6" style="text-align: center; padding: 20px;">Loading rows...</td>
                </tr>
                <!-- <tr>
                  <td>#</td>
                  <td>
                    <a>Pesamakini Backend UI</a>
                    <br /><small>Created 01.01.2015</small>
                    <br /><small>Updated 01.01.2017</small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="/assets/build/images/user.jpg" class="avatar" alt="Avatar">
                      </li>
                      <li>
                        <img src="/assets/build/images/user.jpg" class="avatar" alt="Avatar">
                      </li>
                      <li>
                        <img src="/assets/build/images/user.jpg" class="avatar" alt="Avatar">
                      </li>
                      <li>
                        <img src="/assets/build/images/user.jpg" class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td class="project_progress">
                    <div class="progress progress_sm">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                    </div>
                    <small>57% Complete</small>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-xs">Success</button>
                  </td>
                  <td>
                    <a href="/colleges/vjti-alumni" class="btn btn-primary btn-xs" title="View"><i class="fa fa-eye"></i></a>
                    <a href="/colleges/vjti-alumni/edit" class="btn btn-info btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="btn btn-danger btn-xs" title="Delete"><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr> -->
              </tbody>
            </table>
            <!-- end project list -->

            <!-- start Popup box -->
            <div class="popup" data-popup="popup_college_delete">
              <div class="popup-inner">
                <h2>Are you sure want to delete?</h2>
                <p>Donec in volutpat nisi. In quam lectus, aliquet rhoncus cursus a, congue et arcu. Vestibulum tincidunt neque
                  id nisi pulvinar aliquam. Nulla luctus luctus ipsum at ultricies. Nullam nec velit dui. Nullam sem eros,
                  pulvinar sed pellentesque ac, feugiat et turpis. Donec gravida ipsum cursus massa malesuada tincidunt.
                  Nullam finibus nunc mauris, quis semper neque ultrices in. Ut ac risus eget eros imperdiet posuere nec
                  eu lectus.</p>
                <!-- <p><a data-popup-close="popup" href="#">Close</a></p> -->
                <!-- <button type="button" class="btn btn-danger">Danger</button> -->
                <div class="pop_form" >
                    <input  class="form-control" type="text" id="college_name" placeholder="College name">
                    <a href="#" class="btn btn-danger disabled">Delete</a>
                </div>
                <span class="popup-close" data-popup-close="popup" href="#"><i class="fa fa-times" aria-hidden="true"></i></span>
              </div>
            </div>
            <!-- end Popup box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->