<!DOCTYPE html>
<html>
  <head>
    <title>login page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login here</h1>
    <p>Welcome to login page</p>
    <form action="/login" method="post">
    	<input type="submit" name="login" value="Login">
    </form>
  </body>
</html>
