<!-- page content -->
<div class="right_col" id="pagecode_<%=page_Code%>" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Opportunities</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <form action="" class="searchform">
                    <div class="input-group">
                        <input type="text" name="search" id="searchtext" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchbtn" onClick="this.form.submit()" type="button">Go!</button>
                        </span>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="" id="data-container">

        </div>


        <div class="x_content">
            <!-- modals -->
            <!-- Large modal -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->

            <div class="modal fade bs-example-modal-edit" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Text in a modal</h4>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
                                lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                                nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor
                                fringilla.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Small modal -->
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

            <div class="modal fade bs-example-modal-delete" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Confirm delete?</h4>
                        </div>
                        <div class="modal-body">
                            <h4 id="modelheadtext">Opportunity by User</h4>
                            <div id="modelbodytext">Are you sure want to delete?</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="confirmdelete">Confirm <i class="fa fa-trash"></i></button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /modals -->
        </div>

    </div>
    <div class="clearfix"></div>
</div>
<!-- /page content -->